main{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    background: #F0E8E1;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content input:focus {
    border-color: #927C67;
    box-shadow: 0 0 0 0.25rem #BDCEB6;
}


.modal-content textarea:focus {
    border-color: #927C67;
    box-shadow: 0 0 0 0.25rem #BDCEB6;
}

.welcome-text {
    position: absolute;
    transition: transform 1s, top 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


.welcome-text.show {
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.welcome-text h1{
    color: #927C67;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}


#add-event-button {
    background: #927C67;
    border: none;
    position: absolute;
    top: 7rem;
    opacity: 0;
    transition: opacity 1s;

}

#add-event-button.show{
    opacity: 1;
}

#add-event-button:hover {
    background: #55473B;
}

.events-container {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    max-height: 50%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    transition: opacity 1s;
}

.events-container.show {
    opacity: 0.95;
    padding:0rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(30, 50, 40, 0.3);
}

.events-container::-webkit-scrollbar {
    display: none;
}

.event-item {
    /*
    background: #ffffff;
    margin: 0.75rem 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    */
    background: rgba(255,255,255,0.9);
    margin: 0.75rem 0;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.event-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    cursor: pointer;
    background: #BDCEB6;
}

.event-date{
    font-size: 0.8rem;
    color: #927C67;
}


#slothy-main {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 3s;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

#slothy-main.show {
    opacity: 1;
}






@media (max-width: 576px) {
    .img-fluid {
        width: 200px;
    }

    #add-event-button {
        top: 5rem;
    }

    .events-container {
        top: 10rem;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-fluid {
        width: 250px;
    }

    #add-event-button {
        top: 6rem;
    }

    .events-container {
         top: 11rem;
    }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-fluid {
        width: 300px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .img-fluid {
        width: 350px;
    }
    #slothy-main {
        max-width: 50%;
    }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    .img-fluid {
        width: 400px;
    }
}




