main{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


body {
    background: #F0E8E1;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.welcome-text {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.welcome-text.show {
    opacity: 1;
    transform: translateY(0);
}

.welcome-text h1{
    color: #927C67;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}






@media (max-width: 576px) {
    .img-fluid {
        width: 200px;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-fluid {
        width: 250px;
    }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-fluid {
        width: 300px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .img-fluid {
        width: 350px;
    }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    .img-fluid {
        width: 400px;
    }
}


