main{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    background: #F0E8E1;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content input:focus {
    border-color: rgba(189, 206, 182, 0.7);
    box-shadow: 0 0 0 0.25rem #BDCEB6;
}

.modal-content input[type="checkbox"]:focus{
    box-shadow: none;
    border-color: #55473B;
}

.modal-content textarea:focus {
    border-color: rgba(189, 206, 182, 0.7);
    box-shadow: 0 0 0 0.25rem #BDCEB6;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #55473B;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


input[type="checkbox"]:checked {
    background-color: #BDCEB6;
}




.welcome-text {
    position: absolute;
    transition: transform 1s, top 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


.welcome-text.show {
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.welcome-text h1{
    color: #927C67;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}


#add-event-button {
    background: #927C67;
    border: none;
    position: absolute;
    top: 7rem;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;

}

#add-event-button.show{
    opacity: 1;
    pointer-events: auto;
}

#add-event-button:hover {
    background: #55473B;
}

.events-container {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    max-height: 50%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

.events-container.show {
    opacity: 0.95;
    padding:0rem 1rem;
    border-radius: 10px;
    /*box-shadow: 0px 0px 20px rgba(30, 50, 40, 0.3);*/
    pointer-events: auto;
}

.events-container::-webkit-scrollbar {
    display: none;
}

.event-item {
    position: relative;
    background: rgba(255,255,255,0.9);
    /*margin: 0.75rem 0;*/
    margin: 1rem 0;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.event-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    background: #DFEFD8;
    /*cursor: cell;*/
}

.event-date{
    font-size: 0.9rem;
    color: #927C67;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.event-name{
    font-size: 1.2rem;
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.event-description,
.event-isPublic{
    display: none;
    opacity: 0;
    font-size: 0.8rem;
    color: #777777;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    height: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.event-item.expanded .event-description,
.event-item.expanded .event-isPublic {
    display: block;
    opacity: 1;
    height: auto;
}


.edit-event-icon {
    margin-right: 1.5rem;
}

.edit-event-icon,
.delete-event-icon {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    vertical-align: middle;
    cursor: pointer;
    fill: #555;
    margin-left: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.event-item:hover .edit-event-icon,
.event-item:hover .delete-event-icon {
    opacity: 1;
}



#slothy-main {
    max-width: 100%;
    margin-bottom: 20px;
    height: auto;
    opacity: 0;
    transition: opacity 3s;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

#slothy-main.show {
    opacity: 1;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}






@media (max-width: 576px) {
    .img-fluid {
        width: 200px;
    }

    #add-event-button {
        top: 5rem;
    }

    .events-container {
        top: 10rem;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-fluid {
        width: 250px;
    }

    #add-event-button {
        top: 6rem;
    }

    .events-container {
         top: 11rem;
    }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-fluid {
        width: 300px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .img-fluid {
        width: 350px;
    }
    #slothy-main {
        max-width: 50%;
    }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    .img-fluid {
        width: 400px;
    }
}




