main{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


body {
    background: #F0E8E1;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* error message bubble */
.error-message-bubble {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcccc;
    color: #dd5555;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

#usernameField,
#passwordField{
    background: #F0E8E1;
    border: none;
    border-bottom: 1px solid #222222;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    font-weight: 400;
}


.welcome-text h1{
    color: #927C67;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.welcome-text h2{
    color:#BDCEB6;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.arrow-circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BDCEB6;
    color: #55473B;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.arrow-circle-btn:hover {
    background-color: #66584C;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #F0E8E1;
    color: #F0E8E1;
}


img,p{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}





@media (max-width: 576px) {
    .img-fluid {
        width: 200px;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-fluid {
        width: 250px;
    }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-fluid {
        width: 300px;
    }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .img-fluid {
        width: 350px;
    }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
    .img-fluid {
        width: 400px;
    }
}


